#title {
  color: Black;
  text-align: center;
}

#searchBox{
  text-align: center;
}

#nameDisplay{
  text-align: center;
}


.footer{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
}

.bodyClass{
    text-align: center;
    background-color: #EFE8AA;
}

#budyImg{
   width: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

